.login_link
  =link_to 'LOGIN', '#'
.red_box
  .text-center
    = image_tag "logo_white.png"
    .gap
      %h2
        .white_font
          REDFX STOCK A FREE COMMUNITY
      .white_font
        Everything you need for your creative projects plus, it's all free.
      .row
        #custom-search-input
          = form_tag class: 'form-search' do
            = text_field_tag :image, nil, class: 'input-medium search-query'
            = submit_tag "Search", class: 'btn'
      %br
      .row
        .col-md-6
          .panel.panel-primary
            .panel-body
              .row
                .col-xs-6.col-md-6
                  %a.btn.btn-danger.btn-lg{href: "#", role: "button"}
                    %span
                    IT'S FREE SIGNUP NOW
%br
.row.white_box.text-center.bigger_font
  .col-md-6
    .panel.panel-primary
      .panel-body
        .row
          .col-xs-6.col-md-6
            FEATURED
            %a{href: "#", role: "button"}
              %span.glyphicon.glyphicon-list-alt
              IMAGES
              |
            %a{href: "#", role: "button"}
              %span.glyphicon.glyphicon-bookmark
              VECTORS
              |
            %a{href: "#", role: "button"}
              %span.glyphicon.glyphicon-signal
              ICONS
              |
            %a{href: "#", role: "button"}
              %span.glyphicon.glyphicon-comment
              LOGOS

.row
  .span3
    = image_tag "best-logo-2013-2.jpg"
  .span3
    = image_tag "best-logo-2013-20.jpg"
  .span3
    = image_tag "best-logo-2013-38.jpg"
  .span3
    = image_tag "best-logo-2013-46.jpg"
.row
  .span3
    = image_tag "best-logo-2013-49.jpg"
  .span3
    = image_tag "typeandlogo-02.jpg"
  .span3
    = image_tag "typeandlogo-07.jpg"
  .span3
    = image_tag "typeandlogo-08.jpg"

-#.container
-#  - @categories.in_groups_of(3) do |categories|
-#    .row
-#      - categories.compact.each do |category|
-#        .span4
-#          = link_to category.name, guest_category_path(category), class: 'btn btn-link'

