.login_link
  = link_to 'LOGIN', login_guest_categories_path
.red_box
  .text-center
    = image_tag "logo_white.png"
    .gap
      %h2
        .white_font
          REDFX STOCK A FREE COMMUNITY
      .white_font
        Everything you need for your creative projects plus, it's all free.
      .row
        #custom-search-input
          = form_tag search_guest_categories_path, method: :get, class: 'form-search' do
            = text_field_tag 'search[name]', nil, class: 'input-medium search-query'
            = submit_tag "Search", class: 'btn'
      %br
      .row
        .col-md-6
          .panel.panel-primary
            .panel-body
              .row
                .col-xs-6.col-md-6
                  = link_to '#', class: 'btn btn-danger btn-lg' do
                    %span
                    IT'S FREE SIGNUP NOW
%br
.row.white_box.text-center.bigger_font
  .col-md-6
    .panel.panel-primary
      .panel-body
        .row
          .col-xs-6.col-md-6
            FEATURED
            = link_to '#' do
              %span.glyphicon.glyphicon-list-alt
              IMAGES
              |
            = link_to '#' do
              %span.glyphicon.glyphicon-bookmark
              VECTORS
              |
            = link_to '#' do
              %span.glyphicon.glyphicon-signal
              ICONS
              |
            = link_to '#' do
              %span.glyphicon.glyphicon-comment
              LOGOS

.white_box
  .row
    .span3
      = image_tag "best-logo-2013-2.jpg", class: 'shape'
    .span3
      = image_tag "best-logo-2013-20.jpg", class: 'shape'
    .span3
      = image_tag "best-logo-2013-38.jpg", class: 'shape'
    .span3
      = image_tag "best-logo-2013-46.jpg", class: 'shape'
  .row
    .span3
      = image_tag "best-logo-2013-49.jpg", class: 'shape'
    .span3
      = image_tag "typeandlogo-02.jpg", class: 'shape'
    .span3
      = image_tag "typeandlogo-07.jpg", class: 'shape'
    .span3
      = image_tag "typeandlogo-08.jpg", class: 'shape'
