.red_box
  .text-center
    = image_tag "logo_white.png"
    .gap
      %h2
        .white_box
          Sign In
          .grey_font
            Just select your favourite social network to get started
          .row
            = link_to '#' do
              .facebook
            = link_to '#' do
              .twitter
            = link_to '#' do
              .linkedin
            = link_to '#' do
              .google
      .white_font
        OR SIGN UP WITH EMAIL
