.page-header.row
  %h1=t '.title', :default => 'Profile'
  = paginate @profiles

= paginate @profiles

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Location
      %th Username
      %th Gender
      %th Date of birth
      %th Created At
  %tbody
    - @profiles.each do |profile|
      %tr
        %td= link_to profile.name, profile_path(profile)
        %td= profile.location
        %td= profile.username
        %td= profile.gender
        %td= profile.dob
        %td=l profile.created_at

= paginate @profiles