.page-header
  %h1=t '.title', :default => 'Profile'

%p
  %strong Name:
  = @profile.name
%p
  %strong Location:
  = @profile.location
%p
  %strong UserName:
  = @profile.username
%p
  %strong Gender:
  = @profile.gender
%p
  %strong Dob:
  = @profile.dob

%br

= link_to('Back', profiles_path, :class => 'btn')
= link_to('Edit', edit_profile_path(@profile), :class => 'btn')
