.page-header
  %h1=t '.title', :default => "#{@gallery.name} Gallery"

%p
  %strong Name:
  = @gallery.name

%p
  %strong Created At:
  = @gallery.created_at.strftime("%B %d at %I:%M %p")

%br

= link_to t('.back', :default => t("helpers.links.back")), member_galleries_path, :class => 'btn'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_member_gallery_path(@gallery), :class => 'btn'

%br

= form_for [:member, current_user.uploads.new], :html => { :class => 'form-horizontal', :id => 'jquery-form' } do |f|
  = f.hidden_field :gallery_id, :value => @gallery.id
  = f.label :tag_list, "Tags"
  = f.text_field :tag_list
  = f.label :image, "Upload images:"
  = f.file_field :image, multiple: true, name: "upload[image]"

#progress-div

%br

%script#template-upload{ type: "text/x-tmpl" }
  .upload
    {%=o.name%}
    .progress
      .bar{ style: "width: 10%" }

%h6 Images in this gallery
.row-fluid
  .span12
    - @gallery.uploads.in_groups_of(3) do |uploads|
      .row-fluid
        - uploads.compact.each do |upload|
          .span4
            = link_to(image_tag(upload.image.thumb), [:member.upload])
      %br