= simple_form_for [:admin, @resource], :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = f.input :location
  = f.input :username
  = f.input :gender, collection: GENDER, input_html: { class: 'chosen-select' }
  = f.input :dob, as: :string, input_html: { class: 'datepicker' }
  %br
  = f.button :submit, :class => 'btn btn-primary'
  = link_to t('Cancel', admin_profiles_path, class: 'btn')
