.page-header
  %h1=t '.title', :default => 'Profile'

%p
  %strong Name:
  = best_in_place @profile, :name
%p
  %strong Location:
  = best_in_place @profile, :location
%p
  %strong UserName:
  = best_in_place  @profile, :username
%p
  %strong Gender:
  = best_in_place @profile, :gender, type: :select, collection: [["Male", "Male"], ["Female", "Female"], ["", "Unspecified"]]
%p
  %strong Dob:
  = best_in_place @profile, :dob, :type => :date, class: 'datepicker'

%p
  %strong Public profile:
  = best_in_place @profile, :public_profile, type: :checkbox, collection: %w[No Yes]

%p
  %strong Profile Pic:
  = best_in_place @profile, :avatar, type: :file

%p
  %strong About me:
  = best_in_place @profile, :bio, type: :textarea

%br

= link_to('Back', profiles_path, class: 'btn')