%li.dropdown
  = link_to '#', data: { target: '#', toggle: 'dropdown', role: 'button' }, class: 'dropdown-toggle', id: 'dLlabel' do
    Admin
    %b.caret
  %ul.dropdown-menu{"aria-labelledby" => "dLabel", 'role' => "menu"}
    = link_to admin_categories_path do
      %i.icon-lock
      Categories
    %br
    = link_to admin_expertises_path do
      %i.icon-lock
      Gallery
    %br
    = link_to admin_expertises_path do
      %i.icon-lock
      Expertises
    %br
    = link_to admin_roles_path do
      %i.icon-lock
      Roles
    %br
    = link_to admin_users_path do
      %i.icon-lock
      Users