- if user_signed_in?
  %li
    = link_to('Sign Out', destroy_user_session_path, :method => :delete)
- else
  %li.dropdown
    = link_to 'Sign Up', "#", class: 'dropdown-toggle', "data-toggle" => "dropdown"
    %strong.caret
    = render 'devise/registrations/sign_up'
  %li.divider-vertical
  %li.dropdown
    = link_to 'Sign In', "#", class: 'dropdown-toggle', "data-toggle" => "dropdown"
    %strong.caret
    .dropdown-menu{:style => "padding: 15px; padding-bottom: 0px;"}
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        = f.input :email, required: true, label: false, autofocus: true, placeholder: 'Email', input_html: { style: "margin-bottom: 15px;" }
        = f.input :password, required: true, label: false, placeholder: 'Password', input_html: { style: "margin-bottom: 15px;" }
        = f.input :remember_me, as: :boolean, input_html: { style: "float: left; margin-right: 10px;", class: 'string optional' } if devise_mapping.rememberable?
        = f.button :submit, "Sign in", class: 'btn btn-primary btn-block'
        = label_tag 'or', 'or', :style => "text-align:center;margin-top:5px"
        = button_to "Sign In with Google", '#', class: 'btn btn-primary btn-block'
        = button_to "Sign In with Twitter", '#', class: 'btn btn-primary btn-block'