- if user_signed_in?
  %li
    = link_to('Sign Out', destroy_user_session_path, :method => :delete)
- else
  %li.dropdown
    = link_to "#", class: 'dropdown-toggle', "data-toggle" => "dropdown" do
      Sign Up
      %strong.caret
    = render 'devise/registrations/sign_up'
  %li.divider-vertical
  %li.dropdown
    = link_to "#", class: 'dropdown-toggle', "data-toggle" => "dropdown" do
      Sign In
      %strong.caret
    .dropdown-menu{:style => "padding: 15px; padding-bottom: 0px;"}
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        = f.input :email, required: true, label: false, autofocus: true, placeholder: 'Email', input_html: { style: "margin-bottom: 15px;" }
        = f.input :password, required: true, label: false, placeholder: 'Password', input_html: { style: "margin-bottom: 15px;" }
        = f.input :remember_me, as: :boolean, input_html: { style: "float: left; margin-right: 10px;", class: 'string optional' } if devise_mapping.rememberable?
        = f.button :submit, "Sign in", class: 'btn btn-primary btn-block'
        = label_tag 'or', 'or', :style => "text-align:center;margin-top:5px"
        = button_to "Sign In with Google", '#', class: 'btn btn-primary btn-block'
        = button_to "Sign In with Twitter", '#', class: 'btn btn-primary btn-block'

- content_for(:slider) do
  #carousel-example-generic.carousel.slide
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
      %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
      %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
    / Wrapper for slides
    .carousel-inner
      - images_for_carousel.each do |item|
        - if item == 1
          .item.active
            = image_tag("slide#{item}.jpg", :alt => "image_#{item}")
            .carousel-caption
        - else
          .item
            = image_tag("slide#{item}.jpg", :alt => "image_#{item}")
    / Controls
    = link_to("#carousel-example-generic", class: "left carousel-control", "data-slide" => "prev") do
      %span.icon-prev
    = link_to("#carousel-example-generic", class: "right carousel-control", "data-slide" => "next") do
      %span.icon-next
