= simple_form_for @resource, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = f.input :gallery_id
  = f.input :image
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_uploads_path, :class => 'btn'
