= simple_form_for [:admin, @resource], :html => { :class => 'form-horizontal' } do |f|
  = f.input :email
  = f.input :username
  = f.input :password
  = f.input :password_confirmation
  = f.input :user_role
  %br
  = f.button :submit, :class => 'btn btn-primary'
  = link_to('Cancel', admin_users_path, class: 'btn')