.page-header
  .row
    %h1=t '.title', :default => 'User'
    = link_to('New User', new_admin_user_path, :class => 'btn btn-primary pull-right')

= paginate @resources

%table.table.table-striped
  %thead
    %tr
      %th UserName
      %th Email
      %th Created At
      %th Actions
  %tbody
    - @resources.each do |user|
      %tr
        %td= link_to(user.username, admin_user_path(user))
        %td= user.email
        %td= user.created_at.strftime("%B %d at %I:%M %p")
        %td
          = link_to('Edit', edit_admin_user_path(user), :class => 'btn btn-mini')
          = link_to('Delete', admin_user_path(user), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger')

= paginate @resources
