#tag_cloud
  - tag_cloud Upload.tag_counts, %w[s m l] do |tag, css_class|
    = link_to tag.name, tag_path(tag.name), class: css_class

.page-header.row
  %h1=t '.title', :default => 'Images'
  = link_to('Upload new image', new_upload_path, :class => 'btn btn-primary pull-right')

= paginate @uploads

%table.table.table-striped
  %thead
    %tr
      - 7.times do
        %th
  %tbody
    - @uploads.each do |upload|
      %tr
        %td= image_tag upload.image.thumb, alt: upload.name, tooltip: upload.name
        %td= link_to upload.name, upload_path(upload)
        %td= link_to upload.gallery.name, upload.gallery
        %td= link_to upload.user_name, upload.user
        %td=raw upload.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')
        %td= upload.created_at.strftime("%B %d at %I:%M %p")
        %td
          - if upload.user == current_user
            = link_to('Edit', edit_upload_path(upload), :class => 'btn btn-mini')
            = link_to('Delete', upload_path(upload), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger')

= paginate @uploads
