.page-header
  %h1=t '.title', :default => 'Upload'

%p
  %strong Name:
  = @upload.name
%p
  %strong Gallery:
  = @upload.gallery_name
%p
  %strong Image:
  = image_tag @upload.image
%p
  %strong Owner:
  = image_tag @upload.user_name

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), uploads_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_upload_path(@upload), :class => 'btn'
