<div class="page-header">
  <h1><%= @upload.name %></h1>
</div>

<p>
  <strong>Name:</strong>
  <%= @upload.name %>
</p>

<p>
  <strong>Gallery:</strong>
  <%= @upload.gallery_name %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @upload.image %>
</p>

<p>
  <strong>strong Owner:</strong>
</p>

<%= form_for current_user.uploads.new, :html => { :class => 'form-horizontal', :id => 'jquery-form' } do |f| %>
  <%= f.hidden_field :gallery_id, :value => @upload.gallery_id %>
  <%= f.hidden_field :tag_list, :value => @upload.tag_list %>
  <%= f.label :image, "Upload paintings:" %>
  <%= f.file_field :image, multiple: true, name: "upload[image]"%>
<% end %>
<div id="progress-div">
</div>
<br/>

<%= link_to('Back', uploads_path, :class => 'btn') %>
<%= link_to('Edit', edit_upload_path(@upload), :class => 'btn')  %>

<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 10%"></div></div>
</div>
</script>