%h1 Listing states

%table
  %tr
    %th Name
    %th Country
    %th
    %th
    %th

  - @resources.each do |state|
    %tr
      %td= state.name
      %td= state.country_id
      %td= link_to 'Show', [:admin, state]
      %td= link_to 'Edit', edit_admin_state_path(state)
      %td= link_to 'Destroy',[:admin, state], method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New State', new_state_path
