%li.nav-header Admin Section
%li= link_to "Categories", admin_categories_path
%li= link_to "Gallery", admin_galleries_path
%li= link_to "Expertises", admin_expertises_path
%li= link_to "Roles", admin_roles_path
%li= link_to "Users", admin_users_path
