-#%hr.hr_width
.footer
  .span3{style: "width: 15%;"}
    %ul.unstyled
      %li
        %u
          COMPANY
        %li
          %li
            = link_to 'ABOUT', '#'
          %li
            = link_to 'MEET THE TEAM', '#'
          %li
            = link_to 'OUR BLOG', '#'
          %li
            = link_to 'JOBS', '#'
          %li
            = link_to 'CONTACT', '#'
          %li
            = link_to 'SITEMAP', '#'
  .span3{style: "width: 15%;"}
    %ul.unstyled
      %li
        %u
          MY ADMIN
        %li
          %li
            = link_to 'MY PROFILE', '#'
          %li
            = link_to 'UPLOAD A LOGO', '#'
          %li
            = link_to 'MANAGE MY LOGO', '#'
          %li
            = link_to 'MY FAVOURITES', '#'
          %li
            = link_to 'DEACTIVATE MY ACCOUNT', '#'
          %li
            = link_to 'LOGOUT', '#'
  .span3{style: "width: 15%;"}
    %ul.unstyled
      %li
        %u
          RESOURCES
        %li
          %li
            = link_to 'FAQS', '#'
          %li
            = link_to 'TERMS AND CONDITIONS', '#'
          %li
            = link_to 'PRIVACY POLICY', '#'
  .span3{style: "width: 15%;"}
    %ul.unstyled
      %li
        %u
          SOCIAL MEDIA
        %li
          %li
            = link_to 'FACEBOOK', '#'
          %li
            = link_to 'TWITTER', '#'
-#.span2{style: "width: 15%;"}
-#  %ul.unstyled
-#    %li
-#      More
-#      %li
-#        %li
-#          %a{href: "#"} Training
-#        %li
-#          %a{href: "#"} Students  teachers
-#        %li
-#          %a{href: "#"} The Shop
-#        %li
-#          %a{href: "#"} Plans  pricing
-#        %li
-#          %a{href: "#"} Contact us
-#%hr
-#.row-fluid
-#  .span12
-#    .span8
-#      %a{href: "#"} Terms of Service
-#      %a{href: "#"} Privacy
-#      %a{href: "#"} Security
    .span4
      %p.muted.pull-right © 2014 RedfxStock. All rights reserved